{% extends 'userena/base_userena.html' %}

{% load i18n %}
{% load pagination_tags %}
{% load shorttimesince_tag %}

{% block head_title %}{% blocktrans %}Your Offers{% endblocktrans %}{% endblock %}

{% block content_title %}<h2 class="content-title">Tasks</h2>{% endblock %}


{% block content %}



<ul id="profile-nav">
    <li>
        <a href="{% url offer_list_all %} ">{% trans "All Tasks" %}</a>
    </li>

    <li>
        <a href="{% url offer_new %}">{% trans "Post Task" %}</a>
    </li>
    <li class="selected">
        <a href="{% url offer_list_yours %}">{% trans "Posted Tasks" %}</a>
    </li>

    <li>
        <a href="{% url accepted_offers %}">{% trans "Accepted Tasks" %}</a>
    </li>


</ul>
    
    <legend>{% trans "Your Offers" %}</legend>
    
    
    {% if offers %}

        
        <!-- { autopaginate offers } -->

<ul id="messages" class="list-view">
  {% for offer in offers %}
  <li>

    <a href="{{ offer.get_absolute_url }}">{{ offer.short_description }}
    <img src="{{ offer.offerer.profile.get_mugshot_url }}" class="avatar" />

    <p>Offering: {{ offer.offering }}</p>

    <p>Task: {{ offer.want }}</p>

    <span class="float-right">{{ offer.offerer }}</span>

    </a>
  </li>
  {% endfor %}
</ul>

        <!-- { paginate } -->

    {% else %}
        No offers yet.
    {% endif %}
    
{% endblock %}
